<!DOCTYPE html>
<html lang="en">
 <head> 
     <% include partials/head.ejs %>
     <title> <%= title %></title>
 </head> 

 <body>
   <% include partials/header.ejs %>

      <div id="hero-image-single" style="background-image:url('/images/<%= movie.hero_image %>')">
         <h1 id="hero-title"> <%= title %> </h1>
      </div>

      <div class="content-padding clearfix ">
            <div id="posters-wrapper"> 
              <img src="/images/<%= movie.poster %>" class="img-responsive" style="width:100% ; height:50%">
            </div>

            <div class="description-wrapper">
               
                <div class="description">
                    <h2 class="movie-header">Description</h2>
                    <p><%= movie.description %></p>
                </div>

                <div class="main-characters">
                     <h2 class="movie-header">Main characters</h2>
                     <ul>
                         <% for(var i=0;i<main_character.length;i++){ %>
                            <li><%= main_character[i] %></li>
                         <% } %>   
                     </ul>
                </div>
           
          </div>   
      </div>      
   <% include partials/scripts.ejs %>
 </body>
</html>